@import 'reset';
@import 'animazioni';
@import 'bottoni';
@import 'colori';
@import 'font';
@import 'mixins';
@import 'spaziature';

.body{
 font-family: $fontGenerale;
}

nav{
  background-color: $bgHero;
  @include flex
}

.logo{
  font-size: $logo;
}

.menu{
  display: flex;
  gap: 20px;
}

.menu li a{
  color: $textColor;
}

h1{
  font-size: $title;
}

.hero{
  background-color: $bgHero;
  @include hero
}

p{
  font-size: $subtitle;
  margin-bottom: $marginHero;
}

.testi h1{
  margin-bottom: $marginHero;
}

.testi p{
  color: $textColor;
}

.btn-primary{
  background-color: map-get($btnColor , primary );
}

.btn-secondary{
  background-color: map-get($btnColor , secondary );
}

.btn-tertiary{
  background-color: map-get($btnColor , tertiary );
}