@import 'reset';
@import 'animazioni';
@import 'bottoni';
@import 'colori';
@import 'font';
@import 'mixins';
@import 'spaziature';

.body{
 font-family: $fontGenerale;
}

nav{
  display: flex;
  justify-content: space-between;
  background-color: $bgHero;
  height: 3rem;
  align-items: center;
  padding: 0 5rem;
}

.menu{
  display: flex;
  gap: 20px;
}

.menu li a{
  color: $textColor;
}