<footer
  class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top justify-content-evenly gx-0 bg-body-tertiary"
>
  <div class="col mb-6">
    <a
      routerLink="/"
      class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none"
    >
      <img
        class="logo"
        src="../../../assets/loghi/Cars_Logo_Black.svg.png"
        alt=""
      />
    </a>
    <p class="text-body-secondary">© 2024</p>
  </div>

  <div class="col mb-6">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active text-dark" aria-current="page" routerLink="/"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active text-dark" routerLink="/audi">Audi</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-dark" routerLink="/fiat">Fiat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-dark" routerLink="/ford">Ford</a>
      </li>
    </ul>
  </div>
</footer>
