body{
  margin: 0;
}

nav{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.logo{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.nav-title{
  display: flex;
  justify-content: center;
  background-color: #fdfbf1;
  color: #107777;
  border-top: 2px solid yellow;
}

p span{
  text-transform: uppercase;
  font-weight: 700;
}

main{
  padding: 40px 0;
}

article{
  width: 50%;
  margin: auto;
}

h1{
  text-align: center;
  font-size: 2rem;
}

h2{
  border-bottom: 4px solid aliceblue;
  padding-bottom: 30px;
}

.section-under-video{
  padding-left: 1rem;
  border-left: 1px solid yellow;
  margin-top: 2rem;
}

.title-under-video{
  color: red;
  text-transform: uppercase;
  margin-bottom: 0;
}

.featured-link{
  margin-top: 0;
}

.link{
  color: #107777;
}

.link.capital{
  text-transform: capitalize;
}

.lista li{
  line-height: 2;
}

ol li {
  font-weight: 700;
}

.video{
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}