.navbar-brand img{
  max-width: 100px;
  height: auto;
}

.bi-bell-fill {
  color: white;
}

.dropdown-toggle img {
  width: 50px;
}

.navbar-toggler-icon{
  color: #fff;
}

.form-select::after {
  border-top-color: white;
}

.btn.btn-outline-secondary:hover {
  background-color: transparent;
}

.avatar-profile{
  max-width: 100px;
  height: auto;
}