h2 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  font-size: 1rem;
  font-weight: normal;
}

.lavagna{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 40px;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.postit{
  font-family: "Indie Flower", cursive;
  height: 200px;
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow:10px 10px 7px rgba(0,0,0,.2);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23),rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  animation-name: cascata;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;

  
  /* top: 0;
  left: 50%;
  transform: translateY(-100%) translateZ(-500px) rotateX(-90deg);  */

  transition-property: transform, z-index;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.postit:nth-child(1),
.postit:nth-child(5),
.postit:nth-child(7){
  background-color: #fafbc9;
  transform: rotate(-3deg);
}

.postit:nth-child(2),
.postit:nth-child(4),
.postit:nth-child(8){
  background-color: #c8f9c9;
  transform: rotate(5deg);
}

.postit:nth-child(8){
  transform: rotate(3deg);
}

.postit:nth-child(3),
.postit:nth-child(6){
  background-color: #c7c7f1;
  transform: rotate(-5deg);
}

.postit:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22), rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transform: scale(1.25);
  z-index:5;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

@keyframes cascata {
  /* from{
    transform: translateY(-100%) translateZ(1000px) rotateX(-90deg);
  }
  to{
    transform: translateY(0) translateZ(0) rotateX(0deg);
  } */
  from {transform: scale(100,100) rotate(30deg);}
}