<div class="text-center">
  <h2>Marchi</h2>
  <div class="row align-items-center">
    <div class="col-sm-4">
      <img
        src="../../../assets/loghi/audi.png"
        alt="Audi"
        class="img-fluid img-small"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../../../assets/loghi/fiat logo.png"
        alt="Fiat"
        class="img-fluid img-small"
      />
    </div>
    <div class="col-sm-4">
      <img
        src="../../../assets/loghi/ford.png"
        alt="Ford"
        class="img-fluid img-small"
      />
    </div>
  </div>
</div>

<div class="row text-center justify-content-center align-items-center">
  <h2 class="my-5">In evidenza</h2>
  <div
    *ngFor="let car of carRandom"
    class="col-6 d-flex justify-content-center align-items-center"
  >
    <div
      [ngClass]="{ 'bg-success': car.available, 'bg-danger': !car.available }"
      class="card"
      style="width: 18rem"
    >
      <img src="{{ car.modelImage }}" class="card-img-top" alt="Car" />
      <div class="card-body">
        <h5 class="card-title">{{ car.brand }}</h5>
        <p class="card-text">
          {{ car.year }}
        </p>
        <p class="card-text">
          {{ car.price | currency : "EUR" }}
        </p>
        <p class="card-text">
          {{ car.available ? "Disponibile" : "Non disponibile" }}
        </p>
        <a
          *ngIf="car.brand === 'Audi'"
          routerLink="/audi"
          class="btn btn-primary"
          >Dettagli</a
        >
        <a
          *ngIf="car.brand === 'Fiat'"
          routerLink="/fiat"
          class="btn btn-primary"
          >Dettagli</a
        >
        <a
          *ngIf="car.brand === 'Ford'"
          routerLink="/ford"
          class="btn btn-primary"
          >Dettagli</a
        >
      </div>
    </div>
  </div>
</div>
