<div class="container mt-4">
  <h1 class="text-white font-weight-bold">Registrati</h1>

  <form>
    <div class="form-group mb-3">
      <input
        type="text"
        name="nome"
        [(ngModel)]="registerData.name"
        class="form-control custom-input"
        placeholder="Nome"
      />
    </div>

    <div class="form-group mb-3">
      <input
        type="email"
        name="email"
        [(ngModel)]="registerData.email"
        class="form-control custom-input"
        placeholder="Email"
      />
    </div>

    <div class="form-group mb-3">
      <input
        type="password"
        name="password"
        [(ngModel)]="registerData.password"
        class="form-control custom-input"
        placeholder="Password"
      />
    </div>

    <button (click)="signUp()" class="btn btn-custom mt-3">Registrati</button>
  </form>
</div>
