.custom-input {
  border-color: #02d6e8;
  border-radius: 4px;
}

.btn-custom{
  background: #136878;
  color:#fff;
  border-radius: 4px;
  padding: 9px 12px;
}

.btn-custom:hover{
  background: #02d6e8;
  color: #02172a;
}
